.logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
     color: #0A1B32;
     margin-top: 37px;
     margin-left: 80px;

}
.logo-dot{
    color: #824FF1;
}
.container{
    display: flex;
}
.container_header{
    display: flex;
    font-family:'Roboto', sans-serif;to;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    margin-top: 37px;
    margin-left: 10px;
    max-width: 1030px;
    width: 100%;
}
.home{
    margin-left: 192px;
}
.about{
    margin-left: 38px;
}
.blog{
    margin-left: 40px;
}
.contact{
    margin-left: 38px;
}
.signin{
    align-items: flex-end;
    margin-left: auto;
    margin-right: 40px;
}
.signup-btn{

    margin-right: 20px ;
    background: #824FF1;
    border-radius: 6px;
    width: 120px;
    height: 60px;
    align-self: center;
}
section{
    display: inline-block;
}
.foto{
    display: inline-block;
    position: absolute;
    width: 658px;
    height: 700px;
    left: 800px;
    top: 138px;
}
.foto_sub{
    display: inline-block;
    position: absolute;
    width: 821px;
    height: 509px;
    left: 785px;
    top: 226px;
    margin-left: -135%;

}

.main-title{
    max-width: 495px;
    width: 100%;
    margin-top: 274px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}
.main-info{
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
.main-btn{
    width: 154px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}